body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1670163402343-2e01bda4a53e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
  
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
  
header h1 {
    margin: 0;
}

h1{
    margin-top: 0px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

h2 {
    margin: 0px;
    /* margin-bottom: 5px; */
    color: rgb(255, 255, 255);
}

p {
    margin-top: 0;
    color: rgb(255, 255, 255);
}
  
main {
    margin: 5%;
    padding: 3%;
    background-color: #000000a8;
    border-radius: 30px;

}

    .input-section {
        margin: 0px;
    }
  
    .input-section h2 {
        margin-top: 0;
    }
  
textarea {
    width: 90%;
    height: 30px;
    padding: 10px;
    border: 1px solid #515151;
    resize: vertical;
    min-height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    color: white;
}
  
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

    .recipe-section {
        display: none;
    }
  
    .recipe-section h2 {
        margin-top: 0;
    }
  
    .recipe-section p {
        margin-bottom: 10px;
    }

  